* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(habs2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.face {
  top: 122px;
  position: relative;
  left: 218px;
  width: 53px;
  height: 59px;
  border-radius: 54px 54px 52px 57px;
  background-color: bisque;
}

.body {
  position: relative;
  /* bottom: 30px; */
}

.hear {
  position: relative;
  left: 0px;
  width: 53px;
  height: 22px;
  border-radius: 37px 54px 11px 11px;
  background-color: black;
}

.eyes-left {
  bottom: 27px;
  position: relative;
  left: 13px;
  width: 9px;
  height: 11px;
  border-radius: 30px;
  background-color: white;
}

.eyes-right {
  bottom: 38px;
  position: relative;
  left: 29px;
  width: 9px;
  height: 11px;
  border-radius: 30px;
  background-color: white;
}

.mouth {
  bottom: 34px;
  position: relative;
  left: 19px;
  width: 15px;
  height: 7px;
  border-radius: 30px;
  background-color: black;
}

.neck {
  top: 25px;
  position: relative;
  left: 19px;
  width: 17px;
  height: 14px;
  border-radius: 5px;
  background-color: bisque;
}

.lhbel {
  top: 19px;
  position: relative;
  left: 10px;
  width: 33px;
  height: 17px;
  border-radius: 5px;
  background-color: #430C05;
}

.chest {
  /* display: none; */
  top: 123px;
  position: relative;
  left: 210px;
  width: 71px;
  height: 75px;
  border-radius: 25px 26px 16px 16px;
  background-color: bisque;
}

.t-shirt {
  position: relative;
  left: 0px;
  width: 71px;
  height: 75px;
  border-radius: 25px 26px 16px 16px;
  background-color: brown;
}

.hand-left {
  /* display: none; */
  rotate: 39deg;
  top: 50px;
  position: relative;
  left: 201px;
  width: 15px;
  height: 55px;
  border-radius: 8px;
  background-color: bisque;
}

.hand-left1 {
  rotate: 1deg;
  top: -1px;
  position: relative;
  left: 0px;
  width: 16px;
  height: 31px;
  border-radius: 8px;
  background-color: brown;
}

.hand-right {
  /* display: none; */
  rotate: -39deg;
  top: -4px;
  position: relative;
  left: 275px;
  width: 15px;
  height: 55px;
  border-radius: 8px;
  background-color: bisque;
}

.hand-right1 {
  rotate: 0deg;
  top: -1px;
  position: relative;
  left: -1px;
  width: 17px;
  height: 31px;
  border-radius: 8px;
  background-color: brown;
}

.foot-left {
  /* display: none; */
  top: 2px;
  position: relative;
  left: 224px;
  width: 19px;
  height: 55px;
  border-radius: 8px;
  background-color: bisque;
}

.foot-right {
  /* display: none; */
  top: -53px;
  position: relative;
  left: 253px;
  width: 19px;
  height: 55px;
  border-radius: 8px;
  background-color: bisque;
}

.foot-left1 {
  top: -1px;
  position: relative;
  left: 0px;
  width: 19px;
  height: 38px;
  border-radius: 8px;
  background-color: brown;
}

.foot-right1 {
  top: -1px;
  position: relative;
  left: 0px;
  width: 19px;
  height: 38px;
  border-radius: 8px;
  background-color: brown;
}

.keyboard {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  max-width: 600px;

}

.key {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  color: rgb(255, 253, 253);
  background-color: rgb(8, 8, 8);
  border: 3px solid rgb(129, 109, 109);
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

.key:hover {
  background-color: orange;
  color: white;
  /* transform: scale(1.1);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  opacity: 0.4; */

}

.key {
  transition: all 0.3s ease-in-out;
  cursor: default;
}


.game-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  top: 10px;
  left: 50%;
  gap: 20px;
}

#word {
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
  width: 500px;
  text-align: center;
}

#hint {
  border-radius: 10px;
  background-color: #fff;
  padding: 10px;
  width: 500px;
  text-align: center;
}



.key.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}